<nav class="flex p-2 justify-between bg-gray-400 h-16 w-screen">
  <div class="">
    <ul class="flex flex-row">
      <li class="text-3xl m-2"> Recipe Book </li>
      <li class="m-2 my-auto"> Recipes </li>
      <li class="m-2 my-auto"> Shopping List </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse">
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle text-2xl" role="button">
          Manage
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" class="">Save Data</a></li>
          <li><a href="#" class="">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
